<div class="sidebar bg-secondary" *ngIf="navBarIsOpen">
    <div class="sidebar-header">
        <a (click)="closeSidebar()"><i class="fa fa-caret-square-o-left fa-2x float-right mt-2 mr-2"></i></a>
    </div>
  
    <ul class="sidebar-content">

        <li class="navlink-bm">
          <a routerLink="/newentry" (click)="closeSidebar()">
            <i class="fa fa-plus" aria-hidden="true"></i> Neuer Eintrag</a>
        </li>
  
          <li class="navlink-bm">
            <a routerLink="/standingorder" (click)="closeSidebar()">
              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Daueraufträge</a>
          </li>
  
        <li class="navlink-bm">
          <a routerLink="/balance" (click)="closeSidebar()">
            <i class="fa fa-balance-scale" aria-hidden="true"></i> Bilanz</a>
        </li>
  
        <li class="navlink-bm">
          <a routerLink="/history" (click)="closeSidebar()">
            <i class="fa fa-history" aria-hidden="true"></i> Verlauf</a>
        </li>

        <li class="navlink-bm">
            <a routerLink="/history" (click)="closeSidebar()">
              <i class="fa fa-key" aria-hidden="true"></i> Verschlüsselung</a>
        </li>

        <li class="navlink-bm">
            <a routerLink="/profile" (click)="closeSidebar()">
              <i class="fa fa-user" aria-hidden="true"></i> Profil</a>
        </li>
      </ul>

</div>