<div class="jumbotron">
  <form  #addEntryForm="ngForm">

    <app-entry-info></app-entry-info>

    <div *ngIf="!isPeriodical" class="form-group">
      <label for="example-date-input">Erstellen für den:</label>
      <div>
        <input class="form-control" type="date" [ngModel]="createEntryDate | date:'yyyy-MM-dd'" (ngModelChange)="createEntryDate=$event"
          id="example-date-input" name="rotationStartDate">
      </div>
    </div>

    <div class="input-group-text">
      <input type="checkbox" (click)="changePeriodical()" [checked]="isPeriodical">
      <label class="font-weight-light repeat-padding">Wiederkehrend</label>
    </div>

    <app-standing-order-info *ngIf="isPeriodical"></app-standing-order-info>

    <br>
    <button *ngIf="!isPeriodical" (click)="saveEntry()"         class="btn btn-primary float-right">Add Entry</button>
    <button *ngIf="isPeriodical"  (click)="saveStandingOrder()" class="btn btn-primary float-right">Add StandingOrder</button>
  </form>

</div>