<footer class="footer">
    <div class="container">
      <div class="text-muted">

        <a href="#" class="pr-4 font-weight-bold">Impressum</a>

        <a href="#" class="pr-4 font-weight-bold">Kontakt</a>

        <a href="#" class="pr-4 font-weight-bold">Datenschutz</a>


        <ul class="list-inline text-center float-right">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fa fa-facebook"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fa fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fa fa-google-plus"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fa fa-linkedin"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fa fa-dribbble"> </i>
            </a>
          </li>
        </ul>

      </div>

      
      <!-- Social buttons -->

    </div>
</footer>