<div class="jumbotron">
  <h1 class="display-3">Budget&shy;Manager</h1>
  
  
  <p class="lead">Diese einfache Anwendung soll Sie dabei unterstützen ihre täglichen Ausgaben zu verwalten und kontrollieren.</p>
  
  
  <hr class="my-4">
  
  <div class="row">

    <div class="col-12 col-md-4 text-center">
        <h3>Tags für Ein- und Ausgaben</h3>
        <p>Notiere alle Ein- uind Ausgaben mit bestimmten Tags um auf diese danach zu filtern.</p>
    </div>
    <div class="col-12 col-md-4 text-center">
        <h3>Daueraufträge verwalten</h3>
        <p>Lege Daueraufträge jährlich, monatlich oder für das Quartal an. </p>
    </div>
    <div class="col-12 col-md-4 text-center">
        <h3>Verschlüsselung privater Daten</h3>
        <p>Alle daten werden bevor diese zu dem Server gesendet werden verschlüsselt. 
            Zu jedem Benutzer-Passwort muss ein zusätzlicher Schlüssel zum verschlüsseln der Daten angegeben werden.</p>
    </div>
  </div>
  
</div>