<div class="jumbotron">
  <h1 class="display-3">Budget&shy;Manager</h1>
  
  
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  
  
  <hr class="my-4">
  
  <div class="row">

    <div class="col-4">
        <i class="fa fa-balance-scale"></i>
        <p>Verfolgen Sie Ihre Ein- und Ausgaben</p>
    </div>
    <div class="col-4">
        <i class="fa fa-redo"></i>
        <p>Leben Sie Daueraufträge an</p>
    </div>
    <div class="col-4">
        <i class="fa fa-key"></i>
        <p>Ihre Daten werden verschlüsselt am Server hinterlegt. Keiner hat Zugriff außer Sie!</p>
    </div>
  </div>
  
</div>