.tags-container{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tag-item {
    margin: 3px;
    font-size: 1rem;
    background-color: transparent;
}

.tags-input {
    background-color: transparent;
    padding: 5px;
    border: none;
}

.tags-input:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

.suggestedTag-container{
    margin-bottom: 1rem;  
}


.suggestedTag-item {
    padding: 0.3rem;
    margin: 0.5rem;
    border-width: thin;
    border-style: solid;
    border-color: back;
    border-radius: 10px;
}
