<div class="jumbotron">
    <form #addCategory="ngForm">
        <div class="form-group">
            <label for="categoryform">Name</label>
            <input [(ngModel)]="name" name="categoryform" required type="text" min="1" class="form-control" id="categoryform"
                    placeholder="Name der Kategorie" #addCategory="ngModel">
                    
            
            <div *ngIf="addCategory.errors && (addCategory.dirty || addCategory.touched)" class="alert alert-danger">
                <div [hidden]="!addCategory.errors.required">Name erforderlich</div>
            </div>
        </div>

        <button type="submit" (click)="save()" class="btn btn-primary">Speichern</button>
    </form>
</div>
