

<div class="jumbotron">
    <h2>Kategorien</h2>

    <li *ngFor="let category of categories" class="list-group-item row" style="margin-top:1rem">
        <div class="col-11">
            <div class="row">
                <div class="col-6">
                    {{category.name}}
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="row">
                <i class="fa fa-pencil-square-o col-6" (click)="editCategory(category)" style="margin-right:-2rem" aria-hidden="true"></i>
            </div>
        </div>
    </li>

    <button type="button" click="addNewCategory()" class="btn btn-link"><i class="fa fa-plus" aria-hidden="true"></i> Kategorie hinzufügen</button>
</div>