<div class="jumbotron">
    <h4>Kategorie <b>{{category.name}}</b> löschen</h4>
    
    <form (ngSubmit)="deleteCategory()" #editCategory="ngForm">
        <div class="form-group">
            
            <label for="categorySelect">Kategorie</label>

            <!--<div *ngIf="isDeletable"> 
                Hallo, ist löschbar
            </div>
            -->

            <select (change)="changed(selectedCategory)" [(ngModel)]="selectedCategory" name="category" class="form-control" id="categorySelect">
                <option  *ngFor="let categ of categories" [ngValue]="categ">{{categ.name}}</option>
            </select>
            
        </div>
        <button type="submit" class="btn btn-primary">Kategorie löschen</button>
    </form>
</div>