.tags-container{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tag-item {
    margin: 3px;
    font-size: 1rem
}

.tags-input {
    background-color: #eceeef;
    padding: 5px;
    border: none;
}

.tags-input:focus {
    background-color: #eceeef;
    border: none;
    outline: none;
}