<div class="jumbotron" *ngIf="isViewVisible">
    <app-standingorder-edit-component [standingorder]="selectedStandingOrder" (cancelPressed)="onCancelPressed($event)"
        (deletedPressed)="onDeletedPressed($event)" (changedPressed)="onChangedPressed($event)"></app-standingorder-edit-component>
</div>

<div class="jumbotron">
    <h2>Daueraufträge</h2>
    <ul class="list-group">

        <li *ngFor="let entry of rotationEntries" class="list-group-item row" style="margin-top: 0.2rem">
            <div class="col-10 col-sm-11">
                {{entry.amount}} € {{entry.memo}}
            </div>
            <i class="fa fa-pencil-square-o col-1" (click)="editEntry(entry)" aria-hidden="true"></i>
        </li>

    </ul>
</div>