<div class="jumbotron" *ngIf="isViewVisible">
    <app-edit-standingorder-component [standingorder]="selectedStandingOrder" (cancelPressed)="onCancelPressed($event)"
        (deletedPressed)="onDeletedPressed($event)" (changedPressed)="onChangedPressed($event)"></app-edit-standingorder-component>
</div>

<div class="jumbotron">
    <h2>Daueraufträge</h2>
    <ul class="list-group">

        <li *ngFor="let entry of rotationEntries" class="list-group-item row" style="margin-top: 0.2rem">
            <div class="col-10 col-sm-11" (click)="editEntry(entry)">
                {{entry.amount}} € {{entry.memo}}
            </div>
        </li>

    </ul>
</div>
