<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand"  routerLink="/welcome">
      <i class="fa fa-home" aria-hidden="true"></i>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/newentry"><i class="fa fa-plus" aria-hidden="true"></i> Neuer Eintrag</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  routerLink="/balance"> <i class="fa fa-balance-scale" aria-hidden="true"></i> Bilanz</a>
      </li>

     <li class="nav-item">
        <a class="nav-link" routerLink="/category"><i class="fa fa-tasks" aria-hidden="true"></i> Kategorien</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  routerLink="/history"><i class="fa fa-history" aria-hidden="true"></i></a>
      </li>
    </ul>

    <button type="button" class="btn btn-outline-primary" routerLink="/login">Login</button>

  </div>
</nav>

<div class="container">

  <div class="card" style="margin-top: 1rem">
  <div class="card-block">
    <router-outlet></router-outlet>
  </div>
</div>

</div>