<div class="navbar-bm navbar-dark bg-secondary">

  <a (click)="onOpenSidebar()">
    <i class="fa fa-bars fa-2x ml-4 m-2" aria-hidden="true"></i>
  </a>

  <div style="float: right" class="mr-4 m-2">
    <span *ngIf="isLogedIn" class="mr-2">
      <a routerLink="/profile"><i class="fa fa-user"> </i> {{user.name}}</a>
    </span>
    <button *ngIf="!isLogedIn" (click)="login()" type="button" class="btn btn-primary">Login</button>
    <button *ngIf="isLogedIn" (click)="logout()" type="button" class="btn btn-primary">Logout</button>
  </div>

</div>

<app-navigation style="float: left"></app-navigation>

<div class="container" style="margin-top: 1rem">
  <router-outlet></router-outlet>
</div>

<div class="footer"></div>