<div class="jumbotron">

    <h1>Profil</h1>

    <h4 class="pt-5">Accountdaten</h4>
    <hr>

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input [ngModel]="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Emails</label>
        <input [ngModel]="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
    </div>

</div>