<div class="form-group row">
    <label for="inputencryptvalidationkey" class="col-sm-2 col-form-label">Schlüssel</label>
    <div class="col-sm-8">
        <input [(ngModel)]="key" name="key" type="password" class="form-control" id="inputencryptvalidationkey" placeholder="Schlüssel">
    </div>
</div>

<div class="form-group row">
    <div class="offset-sm-2 col-sm-8">
        <button (click)="testKey()" class="btn btn-primary">Test</button>
    </div>
</div>

<div class="form-group row">
    <label for="labelenryptedvalidationtext" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-8">
        <input [(ngModel)]="encryptedValidationText" readonly class="form-control" id="labelenryptedvalidationtext" placeholder="Text">
    </div>
</div>

<div class="form-group row">
    <div class="offset-sm-2 col-sm-8">
        <button (click)="saveKey()" id="saveencryptionkeybutton" class="btn btn-primary">Schlüssel verwenden</button>
    </div>
</div>

<div class="form-check offset-sm-2 col-sm-8">
    <input [(ngModel)]="isClickedRemember" (click)="switchRememberCheckbox()" type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Schlüssel merken</label>
</div>
