<a (click)="cancel()"><i class="fa fa-times-circle fa-2x float-right pb-4"></i></a>

<app-entry-info></app-entry-info>

<div>
    <input class="form-control" type="date" [ngModel]="createEntryDate | date:'yyyy-MM-dd'" (ngModelChange)="createEntryDate=$event"
        id="example-date-input" name="rotationStartDate">
</div>

<div class="pt-2 pb-3">
    <button (click)="delete()" class="btn btn-outline-danger float-right">Löschen</button>
    <button (click)="change()" class="btn btn-outline-primary float-right mr-2">Bearbeiten</button>
</div>