.jumbotron {
   /* background-color:white !important; */ 
}
.body {
   /* background-color:#F5F5F5 !important; */
}

.list-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

html {
   position: relative;
   min-height: 100%;
 }